---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Icecream from '../components/Icecream.astro';
import Menu from '../components/Menu.astro';
import Location from '../components/Location.astro';
import Story from '../components/Story.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  meta={{
    title: 'Ice Cream Plano | Premium Artisanal Ice Cream | Ice Cream Near Me',
    description:
      "Ice Cream Plano | In Plano, TX, there's a fantastic ice cream shop called The Dolly Llama. It's like a magical land for ice cream lovers with both classic and creative ice cream options.",
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <!-- Heading & Hero -->
    <Hero />
    <!-- Icecream -->
    <Icecream />
    <!-- Menu -->
    <Menu />
    <!-- Location -->
    <Location />
    <!-- Story -->
    <Story />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
