---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Promo from '../components/Promo.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  meta={{
    title: 'Plano Texas Ice Cream and Waffles — The Dolly Llama Waffle Master',
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <!-- Heading & Hero -->
    <Hero />
    <!-- Promo -->
    <Promo />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
