---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Icecream from '../components/Icecream.astro';
import Menu from '../components/Menu.astro';
import Story from '../components/Story.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  meta={{
    title: 'Plano Texas Ice Cream and Waffles — The Dolly Llama Waffle Master',
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <!-- Heading & Hero -->
    <Hero />
    <!-- Icecream -->
    <Icecream />
    <!-- Menu -->
    <Menu />
    <!-- Story -->
    <Story />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
