---

---

<div class="region wrapper flow" id="benefits">
  <div
    class="grid text-center"
    data-layout="50-50"
    style="--grid-min-item-size: 250px;"
  >
    <div
      class="box flow prose clip-right"
      style="--spot-color: var(--gray200);"
    >
      <h2 class="uppercase">Responsibility</h2>
      <p>Become the best version of yourself.</p>
    </div>
    <div
      class="box flow prose clip-right"
      style="--spot-color: var(--gray200);"
    >
      <h2 class="uppercase">Respect</h2>
      <p>Appreciate those around you.</p>
    </div>
    <div
      class="box flow prose clip-right"
      style="--spot-color: var(--gray200);"
    >
      <h2 class="uppercase">Health</h2>
      <p>Stay in shape.</p>
    </div>
  </div>
</div>
