---
import { Picture } from '@astrojs/image/components';
import iceCream1 from '../assets/plano-tx-ice-cream-by-the-scoop-cone-or-cup-01.png';
import iceCream2 from '../assets/plano-tx-ice-cream-by-the-scoop-cone-or-cup-02.png';
import iceCream3 from '../assets/plano-tx-ice-cream-by-the-scoop-cone-or-cup-03.png';
import iceCream4 from '../assets/plano-tx-ice-cream-by-the-scoop-cone-or-cup-04.png';
---

<h4 class="uppercase mx-auto">By the Scoop</h4>
<div class="grid" style="--grid-min-item-size: 250px;">
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={iceCream1}
      widths={[300, 500]}
      aspectRatio={768 / 543}
      width={768}
      height={543}
      class="object-contain h-52 product-image"
      alt="Collage of ice cream cones and cups."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase">Cone or Cup</h5>
    <p>Premium Artisan Ice Cream and Dairyfree selections by the scoop.</p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={iceCream2}
      widths={[300, 500]}
      aspectRatio={768 / 675}
      width={768}
      height={675}
      class="object-contain h-52 product-image"
      alt="Box of six waffles and three toppings."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase">Mini OG Box 6 PC. or 12 PC.</h5>
    <p>
      Box of 6 or 12 Mini-OG Liege Waffles sprinkled with powdered sugar. Add
      ice cream, sauce and toppings.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={iceCream3}
      widths={[400, 500, 732]}
      aspectRatio={732 / 786}
      width={732}
      height={786}
      class="object-contain h-52 product-image"
      alt="Mini waffle ice cream sandwich."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase">Mini OG Ice Cream Sandwich</h5>
    <p>
      One large scoop of our Premium Ice Cream sandwiched between two Mini OG
      Liege Waffles.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={iceCream4}
      widths={[300, 500]}
      aspectRatio={768 / 650}
      width={768}
      height={650}
      class="object-contain h-52 product-image"
      alt="Blue milkshake and liege waffle."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase">Shake N' Bake</h5>
    <p>
      One of our top shakes paired with a Signature OG Liege Waffle topped with
      powdered sugar.
    </p>
  </div>
</div>
