---

---

<div
  class="wrapper box spot-color-primary-dark text-center"
  style="--border-thin: 0.5rem; border-style: dashed;"
>
  <h2 class="uppercase mx-auto step-0">Exclusive 15% off coupon</h2>
  <h3 class="uppercase mx-auto">icecream333</h3>
</div>
