---

---

<div class="region" id="difference">
  <div class="wrapper flow prose" style="--flow-space: var(--space-l);">
    <h2 class="uppercase">Our Difference</h2>
    <p>
      Why should you try Stallone &amp; Bako instead of the other options in
      your home town?
    </p>
    <div class="grid" data-layout="50-50" style="--grid-min-item-size: 250px;">
      <div
        class="box flow prose clip-right"
        style="--spot-color: var(--gray200);"
      >
        <h3>Beginners at Stallone &amp; Bako</h3>
        <ul>
          <li>High level, detailed instruction</li>
          <li>Planned and evolving curriculum</li>
          <li>Team / family environment</li>
          <li>Coaches that care about your development</li>
          <li>Culture that builds strong people on and off the mats</li>
        </ul>
      </div>
      <div
        class="box flow prose clip-right"
        style="--spot-color: var(--gray200);"
      >
        <h3>Beginners at Other Gyms</h3>
        <ul>
          <li>Learn whatever the coach saw on youtube</li>
          <li>
            Forget the moves as soon as class ends, and never see them again
          </li>
          <li>An unwelcoming environment</li>
          <li>
            Train with people who try to hurt you because of ego / bad gym
            culture
          </li>
          <li>Coaches that look at you as a commodity</li>
        </ul>
      </div>
    </div>
  </div>
</div>
