---
import { Picture } from '@astrojs/image/components';
import logo from '../assets/the-dolly-llama-waffle-ice-crema-plano-texas-logo.png';
---

<footer class="region" style="background: var(--gray1200)">
  <div class="wrapper">
    <div
      class="grid items-center"
      style="--gap: var(--space-l); --grid-min-item-size: 303px;"
    >
      <div class="flow">
        <h2>Site</h2>
        <nav>
          <ul
            role="list"
            class="font-weight-emphasis font-display uppercase"
            style="--gap: var(--space-l);"
          >
            <li class="button"><a href="#menu">Menu</a></li>
            <li class="button"><a href="#location">Location</a></li>
            <li class="button"><a href="#our-story">About Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="flow self-start">
        <h2>Contact</h2>
        <p>
          <a href="https://goo.gl/maps/XmCenjgY5594aBGP6"
            >8400 Preston Rd #150, Plano, TX 75024</a
          >
        </p>
        <p><a href="tel:+14692872002">(469) 287-2002</a></p>
        <p>
          <a
            href="https://www.facebook.com/TheDollyLlamaPlano"
            title="Best ice cream in Plano Texas Facebook Page"
          >
            <span class="sr-only">facebook</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              style="fill: currentColor;"
              class="step-2"
            >
              <path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
              ></path>
            </svg>
          </a>
        </p>
      </div>
      <div class="flow justify-self-center">
        <a href="#" style="line-height: 0;">
          <Picture
            src={logo}
            widths={[1547]}
            aspectRatio={1547 / 360}
            width={1547}
            height={360}
            class="object-contain w-auto"
            style="height: 100px;"
            alt="The Dolly Llama Waffle Master Logo"
            quality={80}
            format="avif"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
