---
import { Picture } from '@astrojs/image/components';
import logo from '../assets/the-dolly-llama-waffle-ice-crema-plano-texas-logo.png';
---

<footer class="region" style="background: var(--gray1200)">
  <div class="wrapper">
    <div class="switcher items-center" style="--gap: var(--space-l);">
      <div class="flow">
        <h2>Site</h2>
        <nav>
          <ul
            role="list"
            class="font-weight-emphasis font-display uppercase"
            style="--gap: var(--space-l);"
          >
            <li class="button"><a href="#menu">Menu</a></li>
            <li class="button"><a href="#our-story">Our Story</a></li>
            <li class="button"><a href="#location">Location</a></li>
          </ul>
        </nav>
      </div>
      <div class="flow justify-self-center">
        <a href="/" style="line-height: 0;">
          <Picture
            src={logo}
            widths={[1547]}
            aspectRatio={1547 / 360}
            width={1547}
            height={360}
            class="object-contain w-auto"
            style="height: 100px;"
            alt="The Dolly Llama Waffle Master Logo"
            quality={80}
            format="avif"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
