---
import { Picture } from '@astrojs/image/components';
import logo from '../assets/the-dolly-llama-waffle-ice-crema-plano-texas-logo.png';
---

<header
  class="box"
  style="background-color: black; --region-space-top: var(--space-xs); --region-space-bottom: var(--space-xs);"
  data-margin-block-end="none"
>
  <div class="cluster">
    <a href="/" style="line-height: 0;">
      <Picture
        src={logo}
        widths={[1547]}
        aspectRatio={1547 / 360}
        width={1547}
        height={360}
        class="object-contain w-auto"
        style="height: 100px;"
        alt="The Dolly Llama Waffle Master Logo"
        quality={80}
        format="avif"
      />
    </a>
    <nav>
      <ul
        role="list"
        class="cluster justify-center font-weight-emphasis font-display uppercase"
        style="--gap: var(--space-l);"
      >
        <li class="button"><a href="#ice-cream-menu">Menu</a></li>
        <li class="button"><a href="#location">Location</a></li>
        <li class="button"><a href="#our-story">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>
