---
import Coupon from './Coupon.astro';
import Header from './Header.astro';
---

<Header />
<div class="hero flex flex-col justify-center items-center">
  <h1
    class="uppercase"
    style="margin-block-end: var(--space-m); font-weight: 700; color: white;"
  >
    Ice Cream Plano
  </h1>
  <Coupon />
</div>
