---
import Header from './Header.astro';
---

<div class="cover" style="--cover-padding: 0;">
  <Header />
  <div class="box text-center">
    <h1 class="center step-5 uppercase">A Jiu Jitsu Family</h1>
    <h2 class="center font-weight-base" style="margin-block-end: 1rem;">
      The #1 after school activity
    </h2>
  </div>
  <div
    style="padding-bottom: 56.21521336%;"
    class="text-center relative overflow-hidden"
  >
    <video
      height="606"
      width="1078"
      preload="auto"
      autoplay
      controls
      loop
      muted
      style="width: 100%; height: 100%;"
      class="absolute inset-0"
      playsinline
    >
      <source src="/media/unity-kids-bjj-nyc.mp4" type="video/mp4" />
    </video>
  </div>
</div>
