---
import Header from './Header.astro';
---

<Header />
<div class="hero flex justify-center">
  <h1
    class="uppercase"
    style="margin-block-start: 10vh; font-weight: 700; color: white;"
  >
    Ice Cream Plano
  </h1>
</div>
