---
import { Picture } from '@astrojs/image/components';
import iceCream from '../assets/ice-cream-plano-tx.jpg';
---

<div
  class="grid"
  data-layout="50-50"
  style="--gap: 0; --spot-color: var(--gray200);"
  id="main"
>
  <div class="box flow prose justify-self-center" id="promo">
    <h2 class="uppercase">
      The Best Premium Artisanal Ice Cream in Plano, TX!
    </h2>
    <p>
      In Plano, there's a fantastic ice cream place called The Dolly Llama. It's
      like a magical land for ice cream lovers where you'll find both classic
      and creative ice cream options.
    </p>
    <p>
      But what's really special about The Dolly Llama is how it makes people
      happy. Kids get super excited, and older folks get to relive sweet
      memories with every bite. Here, ice cream is more than just a dessert.
      It's an experience, a feeling, and a sweet tradition that reminds us to
      enjoy the simple pleasures of life.
    </p>
    <p>
      In the heart of Plano, The Dolly Llama isn't just an ice cream shop; it's
      a place where you can create wonderful memories while enjoying delicious
      treats.
    </p>
  </div>
  <Picture
    src={iceCream}
    widths={[400, 700, 3456]}
    aspectRatio={3456 / 5184}
    width={3456}
    height={5184}
    class="object-contain h-auto"
    alt="SEO friendly alt text"
    quality={80}
    format="avif"
  />
</div>
