---
import { Picture } from '@astrojs/image/components';
import kids1 from '../assets/unique-ice-cream-flavors-01.png';
import kids2 from '../assets/unique-ice-cream-flavors-02.png';
import kids3 from '../assets/unique-ice-cream-flavors-03.png';
---

<h4 class="uppercase mx-auto">Kids</h4>
<div class="grid" style="--grid-min-item-size: 303px;">
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={kids1}
      widths={[300, 500]}
      aspectRatio={768 / 1039}
      width={768}
      height={1039}
      class="object-contain h-52 product-image will-change-transform"
      alt="Bubble Waffle Jr."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase step-0">Bubble Waffle Jr.</h5>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={kids2}
      widths={[300, 500]}
      aspectRatio={768 / 666}
      width={768}
      height={666}
      class="object-contain h-52 product-image will-change-transform"
      alt="OG Liege Jr."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase step-0">OG Liege Jr.</h5>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={kids3}
      widths={[300, 500]}
      aspectRatio={732 / 1052}
      width={732}
      height={1052}
      class="object-contain h-52 product-image will-change-transform"
      alt="Milkshake Jr."
      quality={80}
      format="avif"
    />
    <h5 class="uppercase step-0">Milkshake Jr.</h5>
  </div>
</div>
