---
import BuildYourOwn from './BuildYourOwn.astro';
import ByTheScoup from './ByTheScoup.astro';
import Coupon from './Coupon.astro';
import Express from './Express.astro';
import Kids from './Kids.astro';
import Shakes from './Shakes.astro';
import SignatureWaffles from './SignatureWaffles.astro';
---

<div class="region" id="ice-cream-menu">
  <div
    class="wrapper flow prose text-center"
    style="--flow-space: var(--space-l);"
  >
    <div class="box spot-color-primary-dark" style="--border-thin: 0.5rem;">
      <h2 class="uppercase mx-auto step-0">Menu</h2>
      <h3 class="uppercase mx-auto">Our Premium Ice Cream</h3>
    </div>
    <ByTheScoup />
    <Shakes />
    <BuildYourOwn />
    <div class="box spot-color-primary-dark" style="--border-thin: 0.5rem;">
      <h3 class="uppercase mx-auto">Ice Cream + Waffles = Love</h3>
    </div>
    <SignatureWaffles />
    <Express />
    <Kids />
    <Coupon />
  </div>
</div>
