---
import ByTheScoup from './ByTheScoup.astro';
import Shakes from './Shakes.astro';
---

<div class="region" id="menu">
  <div
    class="wrapper flow prose text-center"
    style="--flow-space: var(--space-l);"
  >
    <h2 class="uppercase mx-auto">Menu</h2>
    <ByTheScoup />
    <Shakes />
  </div>
</div>
