---
import { Picture } from '@astrojs/image/components';
import iceCream from '../assets/plano-ice-cream-02.jpg';
---

<div
  class="grid"
  data-layout="50-50"
  style="--gap: 0; --spot-color: var(--gray200);"
  id="our-story"
>
  <Picture
    src={iceCream}
    widths={[400, 700, 3024]}
    aspectRatio={3024 / 4032}
    width={3024}
    height={4032}
    class="object-contain h-auto"
    alt="Best ice cream in Plano Texas"
    quality={80}
    format="avif"
  />
  <div class="box flow prose justify-self-center" id="story">
    <h2 class="uppercase">
      Everyone Wants to Know Where The Dolly Llama Came From
    </h2>
    <p>
      When two childhood friends turned businessmen got together, magic
      happened!
    </p>
    <p>
      If you know your llama facts, you know that llamas are social, friendly
      and outgoing animals who generally love people. When developing their ice
      cream concept, The Dolly Llama Founders Eric Shomof and Samuel Baroux
      agreed to bring all that fun llama spirit into creative dessert
      concoctions, happy customers, and great, fun vibes!
    </p>
    <p>
      Plano is a family-oriented community, which makes it the ideal place for
      The Dolly Llama. Our Plano location is run by Texas husband and wife duo,
      Trenton and Joy Judson. With a party room and many seating options, Trent
      and Joy look forward to becoming a destination for families and friends to
      gather and enjoy life's sweet treats - ice cream and waffles.
    </p>
    <p>
      Not just your traditional dessert shop, it is a destination! With its
      aesthetic flair, interactive environment, and unbeatable desserts, our
      locations are truly magic for you, your family, and your friends!
    </p>
    <p>Stop by and say hello!</p>
  </div>
</div>
